@use "styles/colors" as *;

.treeNodeContainer {
  cursor: pointer;
  position: relative;

  &:hover {
    background-color: $darkBlue;
  }
}

.treeChildNodeContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding-left: 20px;
  position: relative;
}

.treeNode {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 4px;
  gap: 4px;

  & > span {
    word-wrap: break-word;
    word-break: break-word;
  }
}

.treeChildNodeContainer::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 100%;
  border-left: 1px solid $gray2;
}

.treeChildNodeContainer:first-child::before {
  display: none;
}

.treeChildNodeContainer:last-child::after {
  display: none;
}

.nodeTitle {
  padding: 6px 8px;
}

.activeNode {
  border: 1px solid $blue;
  background-color: $darkBlue;
}
