@use "styles/colors" as *;

.treeNodeContainer {
  cursor: pointer;
  position: relative;
}

.treeChildNodeContainer {
  padding-left: 20px;
  position: relative;
}

.treeNode {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 10px;

  & > span {
    word-wrap: break-word;
    word-break: break-word;
  }
}

.treeChildNodeContainer::before {
  content: "";
  position: absolute;
  width: 10px;
  height: calc(100% - 8px);
  border-left: 1px solid $gray2;
}

.treeChildNodeContainer:first-child::before {
  display: none;
}

.treeChildNodeContainer:last-child::after {
  display: none;
}

.nodeTitle {
  padding: 6px 8px;
}

.activeNode {
  border: 1px solid $blue;
  background-color: $darkBlue;
}
