@use "styles/colors" as *;

body {
  background: $black;
  color: $white;
  font-family: "Inter", sans-serif;
}

::-webkit-scrollbar {
  width: 3px;
  background: $gray;
}

::-webkit-scrollbar-thumb {
  background: $blue;
  border-radius: 10px;
}

.toast {
  box-sizing: border-box;
  font-family: "Inter";
  font-size: 12px;
  max-width: 230px;
  min-height: 20px;
  border: 1px solid $blue;
}
