@use "styles/colors" as *;

.contentContainer {
  display: flex;
  border: 1px solid $gray;
  height: 100%;

  &Left {
    box-sizing: border-box;
    max-width: 500px;
    padding: 12px 16px;
    overflow-y: auto;
    max-height: calc(100vh - 76px);
  }

  & > :last-child {
    border-left: 1px solid $gray;
  }
}
